.news-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .rows {
        .row__content {
            display: flex;
            align-items: start;
            gap: 20px;

            .carousel {
                width: 30%;

                .picture {
                    width: 100%;
                    height: 100%;
                }
            }

            .content {
                width: 70%;

                .date {
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    white-space: nowrap;

                    &::after {
                        content: '';
                        width: 100%;
                        height: 1px;
                        border-bottom: 1px solid currentColor;
                    }
                }

                .title {
                    margin-top: 20px;
                }

                .description {
                    margin-top: 5px;
                }

                .detail {
                    margin-top: 20px;
                }
            }

            .actions-buttons {
                margin-top: 20px;
            }
        }
    }

    .add__news-button {
        position: sticky;
        bottom: 5px;
        left: 0;
        z-index: 1;
        border: 1px dashed var(--el-color-primary)
    }
}